body {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#caixa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    background-color: #eee;
    margin-top: 30px;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 200px;
    background-color: #ccc;
    margin-top: 30px;
}

#resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 70px;
    background-color: #fff;
    margin-top: 30px;
    font-size: 14px;
}

#container {
    width: 330px;
    background-color: #eee;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#saldo_field {
    display: flex;
    justify-content: center;
}

#teclado {
    width: 201px;
    height: 240px;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.botao_numerico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    font-size: 24px;
    background-color: #fff;
}

#teclado_secundario {
    width: 110px;
    height: 240px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.botao_lateral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 50px;
    font-size: 16px;
    border: 0;
    background-color: #fff;
}

#saldo_container {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

#saque_container {
    width: 300px;
    height: 25px;
    text-align: center;
}